
/* LOADING FONT STYLES */

@font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: Raleway;
    src: url("../fonts/Raleway-VariableFont_wght.ttf");
}

/* GENERAL STYLES */
:root {
    --important-color-0: #4B62BF;
    --important-color-1: #4B62FF;
    --important-color-2: #B8B8D9;
    --important-color-3: #192140;

    --danger-color: #ED4A4A;

    --grey-0: #F2F2F2;
    --grey-1: #D9D9D9;
    --grey-2: #545353;
}

body {
    font-family: Roboto;
}

form {
    margin: 0px;
}

/* Titles */

h1, h2, h3, h4, h5, h6 {
    font-family: Raleway;
    font-weight: 400;
    margin-bottom: 20px;
}

/* Links */

a {
    color: white;
}

    a:hover {
        cursor: pointer;
        color: var(--important-color-1);
    }

/* Icons */

.fa, .fas, .far {
    margin: 0px 5px;
    cursor: pointer;
}

    .fa:hover, .fas:hover, .far:hover {
        cursor: pointer;
        color: var(--important-color-0);
    }

/* Validation modal */

.modal-dialog {
    display: flex;
    justify-content: center;
}

.modal-content {
    min-width: 30vw;
}

modal-header {
    position: relative;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
}

    .close:hover {
        color: black;
    }

/* Navigation bar */

.navbar {
    position: fixed;
    min-width: 100%;
    min-height: 10vh;
    display: flex;
    align-items: center;
    border-radius: 0%;
    background-color: var(--important-color-3);
    color: white;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.navbar-brand {
    font-family: Raleway;
    font-style: italic;
    font-weight: bold;
    font-size: 30px;
    color: white;
    margin-right: 50px;
}

#navbar-container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 12pt;
}

    #navbar-container li {
        margin-left: 10px;
    }



/* Body container */

#container {
    display: flex;
    flex-direction: column;
}

/* CRUD table */

.crud-table {
    max-width: 80vw;
    align-self: center;
}

    .crud-table td, th {
        text-align: center;
        vertical-align: middle;
        padding: 15px !important;
    }

    .crud-table th {
        background-color: var(--grey-1);
        color: var(--grey-2);
    }

    .crud-table tr:hover {
        background-color: red;
        background-color: var(--grey-0);
    }

#row-options {
    display: flex;
    justify-content: center;
}
    
/* WELCOME PAGES: LOGIN AND REGISTER */

#welcome-title {
    color: white;
    margin-bottom: 30px;
    text-align: center;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

    #welcome-title span:nth-child(2) {
        font-weight: 600;
        font-style: italic;
    }

#background-video {
    filter: brightness(50%) opacity(90%);
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -10;
    top: 0;
    left: 0;
}

#auth-container {
    min-height: 100%;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
}

form[name="loginForm"], form[name="registerForm"]{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #FFFFFF;
    padding: 20px;
    border: 1px solid #DDDDDD;
    box-sizing: border-box;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 11px;
    min-width: 20vw;
    min-height: 30vh;
}

    form[name="loginForm"] input, form[name="registerForm"] input {
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 5px;
    }

label {
    display: block;
}